* {
  margin: 0;
  padding: 0;
}
/* font-family: 'Mulish', sans-serif;
font-family: 'Open Sans', sans-serif; */

body {
  background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);

  min-height: 100vh;
}

.page {
  width: 1040px;
  margin: 0px auto;
  padding-top: 64px;
}

/* Check margin */
nav {
  font-family: 'Mulish', sans-serif;
  color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Check list styling */
nav ul {
  display: flex;
  gap: 48px;
  list-style: none;
}

/* Check list link style */
nav ul li a {
  text-decoration: none; /* Removes the underline */
  color: #1F1534;
  /* Ensures the text color is set */
  font-weight: normal;

}

/* Make text bold on hover */
nav ul li a:hover {
  font-weight: bold;
}


main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 88px;
}

/* Check margin and font styling */
.text h1 {
  font-family: 'Mulish', sans-serif;
  font-size: 48px; /* Sets the font size */
    font-weight: 700; /* Sets the font weight to bold */
    line-height: 72px; /* Sets the line height */
    text-align: left; /* Aligns the text to the left */
    margin-bottom: 32px;
}

/* Check font styling */
.text h1 span {
}

/* Check font styling */
.text p {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; /* Sets the font size */
    font-weight: 400; /* Sets the font weight */
    line-height: 25.6px; /* Sets the line height */
    text-align: left; /* Aligns the text to the left */
    margin-bottom: 32px;
}

/* Check font styling and make sure the button is rounded */
.text button {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  gap: 8px;
  padding: 12px 24px; /* Adjust padding for size */
    font-size: 18px; /* Increase font size */
    border: black; /* Remove default border */
    border-radius: 5px; /* Optional: add rounded corners */
    color: white; /* Set text color */
    cursor: pointer; /* Change cursor on hover */
}

/* Handle when user hover on the button */
.text button:hover {
  background-color: #4A9A7E;
}

/* Check the text styling */
footer {
  text-align: center;
  font-family: 'Open Sans', sans-serif; 
}

/* Check the text styling */
footer a {
  color: #000;
  text-decoration: none;
  font-weight: 700;
}

#balls {
  position: fixed;
  bottom: 0px;
  right: 0px;
  z-index: 10;
}

